// Scrollbar style configuration
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background-color: #000;
	border-radius: 10px
}

::-webkit-scrollbar-thumb{
	background-color: #fbfbfb;
	border-radius: 5px;
}